<div class="resourcesTitle">
    Dieting/Cutting Reccomendations
</div>
<div class="paragraph">
    Cutting is a term used to describe a period of time where an individual
    is purposely eating fewer calories than they need to maintain their weight. This is
    typically done with the end goal of losing body fat or improving sports performance.
</div>
<div class="paragraph">
    Faster rates of weight loss may risk a greater loss in lean mass but help an individual reduce overall body fat
    quicker. Slower rates of weight loss may preserve more lean mass but will extend the time period an individual
    spends in a caloric deficit. Choosing a faster or slower rate of weight loss depends upon many factors including
    personal preferences, goals, an individual's diet adherence, and inter-individual responses to a hypocaloric diet.
</div>
<div class="paragraph">
    LogSmarter™ offers a suggested cutting range for a daily caloric intake instead of a single value. Within this
    range, adjustments can be made to meet an individual’s needs if they are losing weight too fast or too slow.
    LogSmarter™ users can choose between a conservative, moderate, aggressive, or very aggressive approach to cutting.
    The descriptions below describe the guidelines for which approach to choose if a user is unsure.
</div>
<div class="paragraph">
    The upper and lower bound of the recommended cutting ranges are based upon typical weight loss recommendations made
    in the literature (Garthe et al, 2011), (Roberts et al, 2020), (Murphy et al, 2015). To construct a goal
    calorie intake range for fat loss from these recommendations, subtract the upper and lower bounds of the ranges
    from your TDEE.
</div>
<div class="subResourcesTitle lsThemeText">
    Conservative<br> [200 - 300] kcal
</div>
<div class="paragraph">
    Choose this option if you want to diet slowly, are lean, and want to lose minimal muscle mass.
</div>
<div class="subResourcesTitle lsThemeText">
    Moderate<br> [300 - 500] kcal
</div>
<div class="paragraph">
    Choose this option if you want to diet slowly, are somewhat lean, and fine if you lose a small amount of
    muscle mass. <span class="lsThemeText">*We recommend this option if you are unsure*</span>
</div>
<div class="subResourcesTitle lsThemeText">
    Aggressive<br> [500 - 750] kcal
</div>
<div class="paragraph">
    Choose this option if you want to diet quickly, and are not lean. This option would be used for a short-term
    diet.
</div>
<div class="subResourcesTitle lsThemeText">
    Very Aggressive<br> [750 - 1000] kcal
</div>
<div class="paragraph">
    Choose this option if you want to diet extremely quickly, are overweight or obese, and are prepared to be
    hungry. This option should only be used for short time periods (4-6 weeks).
</div>