button {
  font-size: 10%;
}

.wrapper{
  margin-top:10px;
  display: flex;
  align-items: center;
  justify-content:center;
  height:100vh;
}

.navLink {
  margin-top: 20px;
  display: block;
  margin: auto;
  text-align: center;
}

.login-main {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  width: 70%;
  min-width: 33px;
}

.clickToReg {
  line-height: 2;
}

.clickToReg a {
  font-size: large;
  font-weight: bold;
  text-decoration: none;
}

mat-card-title {
  font-weight: bold;
}

mat-card-header {
  margin-left: auto;
  margin-right: auto;
}

.mat-card-header-text {
  width: 100%;
}

mat-form-field {
  width: 80%;
  font-size: 20px;
}

mat-card {
  min-width: 40%;
  width: 80%;
}

mat-card-content {
  display: block;
  margin-left: 15%;
}

button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: x-large;
  height: 80px;
  width: 150px;
  color: white;
}

.submitButton {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.cardText {
  width: 100%;
  margin-bottom: 20px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.verifyCard{
  width: 90%;
  min-width: 290px !important;
  max-width: 800px;
  margin-top: 5%;
  margin-left:auto;
  margin-right:auto;
}

.verifyTitle {
  text-align: center;
}

.email{
  font-weight: bold;
}

.email:hover {
  cursor: pointer;

}

.emailWrapper {
  margin-top: 10px;
}


.sendToFront {
  position: relative;
  z-index: 25;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
}

/* Stuff for waves */

@keyframes move_wave {
  0% {
    transform: translateX(0) translateZ(0) scaleY(1)
  }

  50% {
    transform: translateX(-25%) translateZ(0) scaleY(0.55)
  }

  100% {
    transform: translateX(-50%) translateZ(0) scaleY(1)
  }
}

.waveWrapper {
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  height: 100%;
  min-height:500px;
  border: none;
  background: #C33764;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #1D2671, #C33764);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #1D2671, #C33764);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.mat-card-content{
  padding-top:5px;
}

.waveWrapperInner {
  position: absolute;
  width: 100%;
  overflow: hidden;
  height: 100%;
}

.bgTop {
  z-index: 15;
  opacity: 0.5;
}

.bgMiddle {
  z-index: 10;
  opacity: 0.75;
}

.bgBottom {
  z-index: 5;
}

.wave {
  position: absolute;
  left: 0;
  width: 200%;
  height: 100%;
  background-repeat: repeat no-repeat;
  background-position: 0 bottom;
  transform-origin: center bottom;
}

.waveTop {
  background-size: 50% 100px;
}

.waveAnimation .waveTop {
  animation: move-wave 3s;
  -webkit-animation: move-wave 3s;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

.waveMiddle {
  background-size: 50% 120px;
}

.waveAnimation .waveMiddle {
  animation: move_wave 10s linear infinite;
}

.waveBottom {
  background-size: 50% 100px;
}

.waveAnimation .waveBottom {
  animation: move_wave 15s linear infinite;
}
