<div class='bigWrapper'>
  <div class="buttonWrapper">
    <button mat-raised-button class="lsGradientBackgroundColor lsGradientBackgroundColorHover quickAddButton halfButton"
      (click)='openFinishLogDialog()' *ngIf="latestEntryIsIncomplete">
      <mat-icon>check_circle_outline</mat-icon> FINISH {{observedLogPayload.latestDate | date: 'MM/dd'}}
    </button>
    <button mat-raised-button class="lsGradientBackgroundColor lsGradientBackgroundColorHover quickAddButton halfButton"
      (click)='openAutoPromptDialog()' *ngIf="latestEntryIsIncomplete">
      <mat-icon>add_circle_outline</mat-icon> ADD {{getAutoPromptDate() | date: 'MM/dd'}}
    </button>
    <button mat-raised-button class="lsGradientBackgroundColor lsGradientBackgroundColorHover quickAddButton fullButton"
      (click)='openAutoPromptDialog()' *ngIf="!latestEntryIsIncomplete">
      <mat-icon>add_circle_outline</mat-icon> ADD {{getAutoPromptDate() | date: 'MM/dd'}}
    </button>
  </div>
  <div class="formWrapper">
    <form [formGroup]="listViewForm">
      <table class="options">
        <tr>
          <td class='option lsBackgroundColor'> Sort:</td>
          <td>
            <mat-select formControlName="sortMode" (selectionChange)="updateListView()">
              <mat-option value="day">Day</mat-option>
              <mat-option value="week" *ngIf="this.tierPermissionService.getUserTier().inDepthStats">Week</mat-option>
              <mat-option value="week" *ngIf="!this.tierPermissionService.getUserTier().inDepthStats" [disabled]="true">
                <mat-icon class="lock">lock</mat-icon>
              </mat-option>
            </mat-select>
          </td>
          <td class='option lsBackgroundColor'> Order: </td>
          <td>
            <mat-select formControlName="orderMode" (selectionChange)="updateListView()">
              <mat-option value="descending">Desc</mat-option>
              <mat-option value="ascending" *ngIf="this.tierPermissionService.getUserTier().inDepthStats">Asc
              </mat-option>
              <mat-option value="week" *ngIf="!this.tierPermissionService.getUserTier().inDepthStats" [disabled]="true">
                <mat-icon class="lock">lock</mat-icon>
              </mat-option>
            </mat-select>
          </td>
        </tr>
      </table>
    </form>
  </div>
  <div class="gridWrapper">
    <log-smarter-spinner-wheel class='loadingSpinner' *ngIf='showSpinner' [noMessage]="true">
    </log-smarter-spinner-wheel>
    <span *ngIf='!showSpinner && sortByDay()'>
      <div class='listOfGrids' *ngFor=" let timePeriod of listOfTimePeriods">
        <app-list-view-grid [parentLog]='observedLog' [parentLogPayload]='this.observedLogPayload'
          [timePeriod]='timePeriod' [sortByDay]="sortByDay() ">
        </app-list-view-grid>
      </div>
    </span>
    <div *ngIf='!showSpinner && !sortByDay()'>
      <div class='listOfGrids' *ngFor=" let timePeriod of listOfTimePeriods">
        <app-list-view-grid [parentLog]='observedLog' [parentLogPayload]='this.observedLogPayload'
          [timePeriod]='timePeriod' [sortByDay]="sortByDay() ">
        </app-list-view-grid>
      </div>
    </div>
  </div>
</div>