.register-main {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  z-index: 25;
}

.mainContent {
  width: 95%;
  min-width: 290px;
  max-width: 1000px;
  text-align: center;
  font-size: large;
}

.formFieldHeader {
  text-align: left;
  font-size: large;
  width: 100%;
}

.heightTitle,
.genderTitle {
  text-align: left;
  font-weight: bold;
  font-size: large;
}

.heightTitle {
  text-align: center;
}

.genderToggle {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

mat-card-title {
  font-weight: bold;
}

mat-form-field {
  width: 100%;
  text-align: center
}

.formFieldWrapper {
  padding: 10px;
  flex-grow: 1;
  min-width:  250px;
  width: 50%;
  display: flex;
  justify-content: space-between;
}

input {
  font-size: large;
}

mat-card-content {
  width: 100%;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.submitButton {
  font-size: x-large;
  height: 80px;
  width: 270px;
}

.feet,
.inches {
  width: 35%;
}

.info_text {
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-style: italic;
  font-size: small;
}

mat-tab-group {
  display: block;
  margin: auto;
  width: 100%;
  margin-right: 25%;
}

mat-error {
  font-style: italic;
  padding-bottom: 25px;
}

.preferenceHeader {
  font-size: large;
}

.activityTable {
  width: 100%;
  font-size: large;
}

.terms {
  margin-top: 20px;
}

.viewTerms {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-style: solid;
  border-color: #C0C0C0;
  color: #C0C0C0;
  border-width: 2px;
  width: 220px;
  border-radius: 2px;
}

.viewTerms:hover {
  cursor: pointer;
}


log-smarter-spinner-wheel {
  margin-left: auto;
  margin-right: auto;
}


.saveSpace {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
}

.imperialHeader {
  width: fit-content;
}

form {
  padding-bottom: 40px;
  padding-top: 10px;
  background: transparent;
  min-height: 100vh;
  display: flex;
  overflow: auto;
}

.spinnerMessage {
  font-style: italic;
  font-size: medium;
  font-weight: bold;
}

.errorMessage {
  margin-top: 20px;
  color: red;
  font-weight: bold;
  font-size: small;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-style: italic;
}

.forceAlignSelectHeadersVertically {
  margin-bottom: 25px;
}

.termsContentWrapper {
  height: 65px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.buttonGroup {
  height: 45px;
}

.errorMessage {
  height: 70px;
}

/* Header animations */
.area {
  width: 100%;
}

.demoMessage{
  font-size:small;
  width:95%;
  text-align:left;
  display: block;
  margin:auto;
  margin-top:10px;
  max-width:700px;
}

.boldDemoMessage{
  font-weight:bold;
  font-size: medium;
}

.circles {
  background: #C33764;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #1D2671, #C33764);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #1D2671, #C33764);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 8s linear infinite;
  bottom: -120px;

}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}


.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 50px;
  height: 50px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

@keyframes animate {

  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}
