<div class="resourcesTitle">
    What Is TDEE And Why Is It Important?
</div>
<div class="paragraph">
    Total daily energy expenditure (TDEE) is the energy, in calories, used by someone during a 24-hour period. TDEE can
    be split into three main components: Basal metabolic rate (BMR) The thermic effect of food (TEF) and Non-exercise
    adaptive thermogenesis (NEAT).
</div>
<div class="imageHolder">
    <img src="./assets/resources/TDEE_CHART-min.png" alt="TDEE CHART">
</div>
<div class="paragraph">
    BMR is the largest fraction of TDEE comprising up to 75% and is defined as energy cost during absolute rest like
    when you’re sleeping.
</div>

<div class="paragraph">
    Non-exercise adaptive thermogenesis (NEAT) are the calories you burn through fidgeting, staying upright, and all
    other physical activities
    except purposeful exercise. NEAT contributes ~ 10-15% to your TDEE.
</div>

<div class="paragraph">
    The thermic effect of food (TEF) is the increase in energy expenditure
    associated with digestion, absorption and storage of food, and accounts for approximately 10% of the total daily
    energy expenditure; many
    believe there exist facultative as well as fixed components, yet this can be changed with the macronutrient
    composition of a meal.
</div>

<div class="paragraph">
    Another component of TDEE not mentioned is physical activity. This is because physical activity varies between
    people. See our resource on how to
    choose your activity level for more information. Generally, if you eat less than your TDEE you will lose weight and
    if you eat more than
    your TDEE you will gain weight. Therefore, if you have health, physique, or sports performance-related goals,
    knowing your TDEE is essential
    for optimizing your body composition, performance, and nutrition.
</div>

<div class="paragraph">
    We have developed a machine learning model that yields an accurate and accessible method of TDEE
    estimation. The results of our research suggest that the error of our model is significantly less than the
    most popular existing TDEE estimation techniques. Using this model, we have developed an algorithm that provides
    evidence based recommendations of a calorie intake that aligns with an individual's body composition goal.
</div>

<div class="paragraph">
    We use this machine learning model and algorithm to estimate your TDEE and give you feedback on your nutrition
    data as you use LogSmarter™.
</div>