<div class="resourcesTitle">
    Gaining/Bulking Reccomendations
</div>
<div class="paragraph">
    Bulking is a term used to describe a period of time where an
    individual is purposely eating more calories (aka overfeeding) than they need to
    maintain their body weight. This is typically done with the end goal of gaining muscle or improving sports
    performance because the best gains are typically seen in a caloric surplus (Iraki et al., 2019). By now it is also
    well documented that you can only gain a finite amount of muscle over any given period of time and that excess
    weight gained will likely be stored as fat (Garthe et al, 2013).
</div>
<div class="paragraph">
    This highlights the importance of having a tight control on the size of the caloric surplus when bulking because the
    size of the surplus directly influences the rate of weight gain. If too much weight is gained too fast, the
    individual risks gaining excess fat to the point where their body composition or sports performance becomes
    undesirable and they must stop bulking. On the other hand, if weight is gained too slowly then the individual risks
    gaining at a suboptimal rate.
</div>
<div class="paragraph">
    LogSmarter’s algorithm offers a “bulking range” as a suggestion instead of a single value for daily caloric intake.
    LogSmarter™ users can choose between a conservative, moderate, or aggressive approach to bulking. The descriptions
    below explain the guidelines for which approach to choose if a user is unsure. The lower and upper bound of the
    bulking ranges is based largely upon the results of previous studies. Using typical recommendations made in the
    literature, we can arrive at the following recommended ranges to eat at above your TDEE when trying to gain muscle.
</div>
<div class="subResourcesTitle lsThemeText">
    Conservative<br> [100 - 250] kcal
</div>
<div class="paragraph">
    Choose this option if you want to gain very slowly, are somewhat lean, have 5+ years of training experience,
    and want to be in surplus for a long period.
</div>
<div class="subResourcesTitle lsThemeText">
    Moderate<br> [250 - 500] kcal
</div>
<div class="paragraph">
    Choose this option if you want to gain slowly, and are fairly lean, and have 3+ years of training
    experience.
    <span class="lsThemeText">*We recommend this option if you are unsure*</span>
</div>
<div class="subResourcesTitle lsThemeText">
    Aggressive<br> [500 - 750] kcal
</div>
<div class="paragraph">
    Choose this option if you want to gain quickly, are fairly lean, and are new to training.
</div>