<div class="resourcesTitle">
    How Do I Choose My Activity Level?
</div>
<div class="paragraph">
    Choosing your activity level can have a major impact on your initial estimated TDEE. The standard activity level
    factors were developed based on metabolic equivalents (METs). One MET is defined as the oxygen consumed while
    sitting at rest. The most scientific way to find your physical activity level is to list out all your activities for
    a day, time spent doing them in minutes, and add up the equivalent METs.
</div>
<div class="paragraph">
    Since that is time-intensive and not practical, most people won’t do it. Instead there are
    general levels that we can choose from. These are suggested in the National Dietary Reference Intakes. The
    descriptions below are a simplified version separated into four categories used by us and others.
</div>
<div class="paragraph">
    If you are reading this resource because you are stressing out about which activity level you chose when signing
    up, don't worry too much. Our algorithm only relies on the activity level you chose to make your initial TDEE
    estimate. From there, our algorithm will learn from your data and get closer and closer to your true TDEE. If you
    are stuck between two categories, we recommend choosing the one that corresponds to a lower activity level.
</div>
<div class="subResourcesTitle lsThemeText">
    Sedentary
</div>
<div class="paragraph">
    This is generally used for sedentary jobs and for people who do not exercise or play sports. An example
    would be a computer programmer who works in a small office and drives to work.
    <span class="lsThemeText">*We recommend this option if you are unsure*</span>
</div>
<div class="subResourcesTitle lsThemeText">
    Lightly Active
</div>
<div class="paragraph">
    This is used for people with sedentary jobs that exercise 2 - 3 times per week. An example would be an
    office clerk who goes to a circuit training class three times per week.
</div>
<div class="subResourcesTitle lsThemeText">
    Active
</div>
<div class="paragraph">
    This is used for those who have moderately active jobs and exercise 3 - 4 times per week. An example would
    be a construction worker who lifts heavy objects and is on his/her feet all day, and also exercises after
    work.
</div>
<div class="subResourcesTitle lsThemeText">
    Very Active
</div>
<div class="paragraph">
    This is used for those who have highly active jobs, and exercise 4 - 6 times per week. Professional athletes
    (soccer, football, basketball, etc.,) fall into this category.
</div>