<div class="resourcesTitle">
    What Is Nutrition Periodization?
</div>
<div class="paragraph">
    Nutritional Periodization is the planned, purposeful, and strategic use of
    specific nutrition changes to enhance the adaptations targeted by individual
    exercise sessions or periodic training plans or to obtain other effects that will enhance performance or appearance
    in the long term.

</div>
<div class="paragraph">
    You can use periods of weight cycling, known as bulking cutting and maintaining, to improve performance and physical
    appearance. Macronutrient manipulation occurs during these periods, mainly with changes in fat and carbohydrate
    intake to induce caloric surpluses or deficits.
</div>
<div class="imageHolder">
    <img src="./assets/resources/PERIODIZATION_CHART-min.png" alt="Periodization flowchart">
</div>
<div class="paragraph">
    There is little evidence to support an ideal nutrition periodization over the long term. We recommend committing to
    cutting for at least 6-8 weeks to see fat loss and bulking for at least 12-16 weeks to see muscle gain. Both of
    these goals should be supported by resistance training and cardiovascular training.
</div>
<div class="paragraph">
    We help you implement a periodized tracking scheme by splitting your data into logs so that our algorithm is able to
    make more accurate adjustments and remove noise in your data. This leads to better feedback and quicker results!
</div>
<div class="paragraph">
    See our cutting and bulking resources for more specific guidance on how to optimize your nutrition for your goal.
</div>